<label for="form-control">Server Name</label>
<!-- <input class="form-control" type="text" (input)="onUpdateServerName($event)" /> -->
<input class="form-control" type="text" [(ngModel)]="serverName" />

<br />
<!-- <button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button> -->
<button
  class="btn btn-primary"
  [disabled]="serverName === ''"
  (click)="onCreateServer()"
>
  Add server
</button>
<br />
<br />
<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<p
  *ngIf="serverCreated; else noServerColor"
  [ngStyle]="{ backgroundColor: getColor() }"
>
  {{ serverStatus }}
</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<ng-template #noServerColor>
  <p></p>
</ng-template>
<!-- <p>{{ serverName }}</p> -->
<!-- <p>Server name: {{ serverName }}</p> -->
